<h1>Rank results</h1>

<p *ngIf="!rankResults"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="rankResults">
  <thead>
    <tr>
      <th>keyword</th>
      <th>search engine</th>
      <th>website</th>
      <th>position</th>
      <th>status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rankResult of rankResults">
      <td>{{ rankResult.keyword }}</td>
      <td>{{ rankResult.searchName }}</td>
      <td>{{ rankResult.website }}</td>
      <td>{{ rankResult.position }}</td>
      <td>{{ rankResult.status }}</td>
    </tr>
  </tbody>
</table>
