<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2>Rank Tracker</h2>
        <form [formGroup]="rankForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Search Engine</label>
            <select formControlName="searchEngine" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.searchEngine.errors }">
              <option *ngFor="let searchEngine of searchEngines" value="{{searchEngine.id}}">{{searchEngine.name}} - {{searchEngine.country}}</option>
            </select>
            <div *ngIf="submitted && f.searchEngine.errors" class="invalid-feedback">
              <div *ngIf="f.searchEngine.errors.required">Search Engine is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Location</label>
            <select formControlName="location" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.location.errors}">
              <option *ngFor="let location of locations"  value="{{location.id}}">{{location.name}}</option>
            </select>
            <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
              <div *ngIf="f.location.errors.required">Location is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Website</label>
            <input type="text" formControlName="website" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.website.errors }" />
            <div *ngIf="submitted && f.website.errors" class="invalid-feedback">
              <div *ngIf="f.website.errors.required">Website is required</div>
              <div *ngIf="f.website.errors.pattern">Website must be a valid url</div>
            </div>
          </div>
          <div class="form-group">
            <label>Keywords</label>
            <textarea type="text" formControlName="keyword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.keyword.errors }"></textarea>
            <div *ngIf="submitted && f.keyword.errors" class="invalid-feedback">
              <div *ngIf="f.keyword.errors.required">Keyword is required</div>
              <div *ngIf="f.keyword.errors.minlength">Keyword must be at least 6 characters</div>
            </div>
          </div>
          <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
